<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
	<testsuites>
		<testsuite name="slendium/localization tests">
			<directory>tests</directory>
		</testsuite>
	</testsuites>
	<source ignoreSelfDeprecations="true">
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
